<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
  <a href="{% url 'home' %}">Return to homepage</a>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
Highcharts.chart('container', {
    chart:{
        zoomType:'xy'},
    title: {
        text: '좌석 등급에 따른 타이타닉 생존/비생존 인원 및 생존율'
    },
    xAxis: {
        categories: [{% for entry in dataset %}
                '{{ entry.ticket_class }} Class'{% if not forloop.last %}, {% endif %}
              {% endfor %}],  crosshair: true
    },
    yAxis: [{ // Primary yAxis
        min:0,
        max:70,
        labels: {
            format: '{value}%',
            style: {
                color: Highcharts.getOptions().colors[1]
            },
        },
        title: {
            text: '생존율',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        }
    }, { // Secondary yAxis
        min:0,
        max:600,
        title: {
            text: '인원',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        labels: {
            format: '{value}명',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        opposite: true
    }],
    tooltip: {
        shared: true
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        x: 120,
        verticalAlign: 'top',
        y: 100,
        floating: true,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || // theme
            'rgba(255,255,255,0.25)'
    },
    series: [{
        type: 'column',
        name: '생존',
        data: [{% for entry in dataset %}
                {{ entry.survived_count }}{% if not forloop.last %}, {% endif %}
              {% endfor %}],
        yAxis:1,
        tooltip:{valueSuffix:'명'},
        color:'green'
    }, {
        type: 'column',
        name: '비생존',
        data: [{% for entry in dataset %}
                {{ entry.not_survived_count }}{% if not forloop.last %}, {% endif %}
              {% endfor %}],
        yAxis:1,
        tooltip:{valueSuffix:'명'},
        color: 'red'
    }, {
        type: 'spline',
        name: '생존율',
        data: [Cast(Count('ticket_class', filter=Q(survived=True)), FloatField())/Cast(Count('ticket_class'),FloatField())*100],
        yAxis:0,
        tooltip:{valueSuffix:'%'},
    }]
});
  </script>
</body>
</html>